{% extends 'index.html' %}

{% block body %}

<article>
    
        <div class="container" style="margin-top: 0px; line-height: 25px">
            <div class="box fade-in one">

                {% for post in posts %}
                    <div class="post-preview">
                        <a href="{{ url_for('post', post_id = post.id) }}">
                            <h2 class="post-title">
                                {{ post.title }}
                            </h2>
                            <h3 class="post-subtitle">
                                {{ post.subtitle }}
                            </h3>
                            <p class="post-meta">Posted on {{ post.date_posted.strftime('%B %d, %Y') }}</p>
                        </a>       
                    </div>
                {% endfor %}
            </div>
        </div>


</article>

{% endblock %}  
<!-- <!DOCTYPE html>
<html>
<head>

</head>
<body>


<section>
        <div class="container" style="margin-top: 100px; line-height: 25px">
            <div class="animated fadeIn box">
                <h1 class="title">Sample Title</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, quia.</p>
                <br>
                <p>Nulla nec metus vitae lorem fermentum mattis ac a velit. Integer consequat magna in nisl ornare, vitae commodo quam dictum. In blandit facilisis libero quis lobortis. Vestibulum mollis metus ut tempor maximus.</p>
            </div>
        </div>  
</section>
</body>
</html> -->