<header style="position: absolute; top: 0; left: 0; width: 100%">

<style>
body {margin:0;}

.navbar {
/*  opacity: 0.5;
  filter: (opacity=50);*/
  overflow: hidden;
  position: fixed;
  width: 100%;
}

</style>  



  
<nav class="navbar is-dark">
<!--   <div class="container"> -->
    <div class="navbar-brand">
      <a class="navbar-item" href="/" style="text-align: center; font-size: 25px">
        Daniel Mendez
      </a>
      <span class="navbar-burger burger" data-target="navMenu">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>

    <div id="navMenu" class="navbar-menu">
      <div class="navbar-end">

        <a class="navbar-item" style="text-align:left;" href="/">
          <div style="position:relative;">  
            <span class="icon"><i class="fas fa-home" style="height: 12px"></i></span>
            <span>Home</span>
          </div>
        </a> 

        <a class="navbar-item" style="text-align:left;" href="/resume">
          <div style="position:relative;">  
            <span class="icon"><i class="fas fa-file" style="height: 12px"></i></span>
            <span>Resume</span>
          </div>
        </a>  

        <a class="navbar-item" style="text-align:left;" href="/blog">
          <div style="position:relative;">  
            <span class="icon"><i class="fas fa-rss" style="height: 12px"></i></span>
            <span>Blog</span>
          </div>
        </a>          

        <a class="navbar-item" style="text-align:left;" href="/contact">
          <div style="position:relative;">  
            <span class="icon"><i class="fas fa-envelope" style="height: 12px"></i></span>
            <span>Contact</span>
          </div>
        </a>  


      </div>
    </div>
<!--   </div> -->
</nav>
  
</header>








